.eventos {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    width: 100%;
    padding: 4rem 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 4rem;

    @media only screen and (max-width: $bp-600) {
      padding: 4rem 0;
    }

    &-list {
      list-style: none;
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.event {
  position: relative;
  width: 100%;
  padding-bottom: 3rem;

  clip-path: polygon(0 0, 100% 0, 100% 0, 90% 100%, 0 100%);

  color: $color-grey-lightest;
  text-shadow: 0 0 3px black;

  display: grid;
  grid-template-rows: max-content 2rem 2rem 3rem 1fr;
  grid-template-columns: 66.666%;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 4px 1rem rgba(black, 0.4);

  margin-bottom: 4rem;

  .data {
    font-weight: 500;
    display: inline;
  }

  &__wrapper {
    max-width: 80%;
    width: 100%;
    min-width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 2px 5px rgba(black, 0.8));
    transition: all 0.15s ease-in-out;

    &:hover {
      transform: translateY(-4px);
      filter: drop-shadow(0 6px 1rem rgba(black, 0.6));
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &-content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        to left,
        rgba(black, 0.2),
        rgba(black, 0.8)
      );
    }

    // &--jornada-de-trabajo &-content {
    //   object-position: 0 -38rem;
    // }
  }

  &__title {
    grid-column: 1;
    grid-row: 1;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    line-height: 1;
    padding: 4px 0;
    padding-right: 4rem;

    border-bottom: 1px solid $color-highlight;
  }

  &__title,
  &__date,
  &__time,
  &__more-info {
    margin-left: 2rem;
  }

  &__date,
  &__time {
    align-self: start;
    font-size: 1.8rem;
  }

  &__date {
    grid-row: 2;
    grid-column: 1;
  }

  &__time {
    grid-row: 3;
    grid-column: 1;
  }

  &__more-info {
    position: relative;
    text-decoration: none;
    color: $color-grey-lightest;

    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: start;
    grid-row: 4;
    grid-column: 1;
    align-self: end;
    font-size: 1.6rem;
    cursor: pointer;
    line-height: 1;
    padding-bottom: 2px;
    transition: transform 0.15s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      border-bottom: 1px solid $color-highlight;
      transition: width 0.2s ease-in-out;
    }

    .text {
      margin-right: 3px;
    }

    .icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: $color-grey-lightest;
      transition: fill 0.2s linear;
    }

    &:hover {
      transform: translateY(-2px);

      .icon {
        fill: $color-highlight;
      }
    }

    &:hover::before {
      width: 100%;
    }
  }
}
