.talleres {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 4rem;
  }

  &__list {
    display: grid;
    // grid-template-columns: ;
  }
}

.taller {
  position: relative;
  height: 40rem;
  width: 50rem;

  border-radius: 4px;
  overflow: hidden;

  box-shadow: 0 2px 5px rgba(black, 0.8);

  display: grid;
  grid-template-rows: min-content 1fr 8rem 4rem;

  padding: 2rem;
  margin-bottom: 4rem;

  text-shadow: 0 0 3px black;

  @media only screen and (max-width: $bp-600) {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .splide__arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(black, 0.8) 20%,
      transparent 50%,
      rgba(black, 0.8),
      rgba(black, 0.8)
    );
    z-index: 10;
  }

  &__images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__img {
    height: 40rem;
    width: 100%;

    &-content {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    grid-row: 1;
    z-index: 30;
    font-size: 3rem;
    font-family: 'Karla', sans-serif;
    color: $color-grey-lightest;
    text-align: center;
    border-bottom: 1px solid $color-highlight;
    padding-bottom: 1rem;
  }

  &__desc {
    grid-row: 3;
    z-index: 30;
    font-size: 1.6rem;
    color: $color-grey-lightest;
    text-align: center;
    overflow-y: scroll;
  }

  &__link {
    grid-row: 4;
    z-index: 30;
    line-height: 1;
    align-self: end;
    justify-self: center;
    text-decoration: none;
    color: $color-grey-lightest;
    border-bottom: 1px solid $color-highlight;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 2px 5px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-2px) scale(1.04);
    }
  }
}
